<div class="container">
  <div class="principal">
    <h1 id="idFace">FACEBOOK</h1>
    <form id="searchFormEmail">
      <div id="search-input">
        <div style="height: 24px;"></div>
        <div dir="ltr"></div>
        <p id="emailOrTelefone">Email ou telefone</p>
        <input
          id="searchEmail"
          type="text"
          role="combobox"
          aria-autocomplete="list"
          style="border: none; padding: 3px; margin: 0px; height: auto; width: 100%; outline: none;"
          dir="ltr"
        />
      </div>
    </form>
    <form id="searchFormSenha">
      <div id="search-input">
        <div style="height: 24px;"></div>
        <div dir="ltr"></div>
        <p id="emailOrTelefone">Senha</p>
        <input
          id="searchEmail"
          type="password"
          role="combobox"
          aria-autocomplete="list"
          style="border: none; padding: 3px; margin: 0px; height: auto; width: 100%; outline: none;"
          dir="ltr"
        />
        <a id="esqueceuSenha" href="">Esqueceu a conta?</a>
      </div>
    </form>
    <button id="btnEntrar">Entrar</button>
  </div>
  <div class="teste04">
    <div class="loginRecente">
    </div>
    <div class="cadastro">
      <h1 id="txtCriarConta">Criar uma nova conta</h1>
      <h2 id="txtCriarContaRapido">É rápido e fácil</h2>
      <form id="nome">
        <div id="search-input">
          <div dir="ltr"></div>
          <input
            id="inputCadastroNome"
            type="text"
            role="combobox"
            aria-autocomplete="list"
            placeholder="Nome"
            dir="ltr"
          />
        </div>
      </form>
      <form id="sobrenome">
        <div id="search-input">
          <div dir="ltr"></div>
          <input
            id="inputCadastroSobrenome"
            type="text"
            role="combobox"
            aria-autocomplete="list"
            placeholder="Sobrenome"
            dir="ltr"
          />
        </div>
      </form>
      <form id="cellOrEmail">
        <div id="search-input">
          <div dir="ltr"></div>
          <input
            id="inputCadastro"
            type="text"
            role="combobox"
            aria-autocomplete="list"
            placeholder="Celular ou email"
            style="padding-right: 126%;"
          />
        </div>
      </form>
      <form id="newPassword">
        <div id="search-input">
          <div dir="ltr"></div>
          <input
            id="inputCadastro"
            type="password"
            role="combobox"
            aria-autocomplete="list"
            placeholder="Nova senha"
          />
        </div>
      </form>
      <form id="dataNascimento">
        <p id="nascimento">Data de nascimento</p>
          <div dir="ltr"></div>
          <input
            id="inputCadastroDataNascimento"
            type="date"
          />
      </form>
    </div>
  </div>
</div>
